<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-colors-signal.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
  <style>
     body,h1,h2,h3,h4,h5 {font-family: "Play", sans-serif}

     .filterInput {
       background-position: 10px 10px;
       background-repeat: no-repeat;
       width: 100%;
       font-size: 16px;
       padding: 12px 20px 12px 40px;
       border: 1px solid #ddd;
       margin-bottom: 12px;
     }
     
      ​.header
      {
          height:50px;
      }
      .content
      {
          position:absolute;
          top: 50px;
          left:0px;
          right:0px;
          bottom:0px;
          overflow-y:scroll;        
      }
     
      a:link {
          text-decoration: none;
          color: blue
      }
      
      a:visited {
          text-decoration: none;
          color: darkblue
      }
      
      a:hover {
          text-decoration: underline;
          color: lightblue
      }
      
      a:active {
          text-decoration: underline;
          color: lightblue
      }
  </style>
  
  <script src="sorttable.js"></script>
  <script>
    function financeFilter() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("financeFilterInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("financeTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    function materialFilter() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("materialFilterInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("materialTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  
    function journalFilter() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("journalFilterInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("journalTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }
  </script>
  
  <body class="w3-light-grey">
  
    <nav class="w3-sidenav w3-white w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
      <a href="javascript:void(0)" onclick="closeRightMenu()" class="w3-closenav w3-large">Close &times;</a>
      <a href="#top">Seitenanfang</a>
      <a href="#financelog">Letzte Kontobewegungen</a>
      <a href="#material">Materiallager</a>
      <a href="#lastports">Letzte Raumh&auml;fen</a>
      <a href="#mostvisitsystems">Besuchte Systeme</a>
      <a href="#navlog">Letzte FSA-Srp&uuml;nge</a>
      <a href="#missions">Letzte Missionen</a>
      <a href="#journal">Letzte Journallogs</a>
      <a href="#ships">Flotte</a>
    </nav>
    
    <header class="w3-container w3-teal w3-slim header">
      Stand: $datetool
      <span class="w3-opennav w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</span>
    </header>
  
    <div class="w3-content content" style="max-width:1400px">
      <div id="top" class="w3-col l8 s12">

        <!-- financelog card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="financelog" class="w3-container w3-padding-8">
            <h3><b>Letzte 50 Kontobewegungen</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="financeFilterInput" class="filterInput" onkeyup="financeFilter()" placeholder="Filter Kategorien.." title="Kategoriefilter">
            <table id="financeTable" class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Valutadatum</th>
                  <th>Betrag</th>
                  <th>Kategorie</th>
                  <th>Buchungstext</th>
                  <th>Fraktion</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $financeitem in $financeLogList )
                <tr>
                  <td>$datetool.format($financeitem.valutadatum)</td>
                  #if ($financeitem.amount < 0)
                    <td style="color:red; text-align:right">
                  #elseif ($financeitem.amount > 0) 
                    <td style="color:green; text-align:right">
                  #else 
                    <td style="color:black; text-align:right">
                  #end
                    $numbertool.format($financeitem.amount)</td>
                  <td>$financeitem.category</td>
                  <td>$financeitem.remark</td>
                  <td>#if ($financeitem.factionUrl)<a target="_blank" href="$financeitem.factionUrl">#end $financeitem.factionName #if ($financeitem.factionUrl)</a>#end</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- material card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="material" class="w3-container w3-padding-8">
            <h3><b>Materiallager</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="materialFilterInput" class="filterInput" onkeyup="materialFilter()" placeholder="Filter Kategorien.." title="Kategoriefilter">
            <table id="materialTable" class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Material</th>
                  <th>Kategorie</th>
                  <th>Rarit&auml;t</th>
                  <th style="text-align:right">Anzahl</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $material in $materials )
                <tr>
                  <td>#if ($material.inaraUrl)<a target="_blank" href="$material.inaraUrl">#end $material.name #if ($material.inaraUrl)</a>#end</td>
                  <td>$material.category</td>
                  <td>
                  #if ($stringUtils.equals($material.rarity, "VeryCommon"))
                    <div class="w3-tag w3-signal-green w3-round-large">sehr h&auml;ufig</div>
                  #elseif ($stringUtils.equals($material.rarity, "Common"))
                    <div class="w3-tag w3-signal-blue w3-round-large">h&auml;ufig</div>
                  #elseif ($stringUtils.equals($material.rarity, "Rare"))
                    <div class="w3-tag w3-signal-violet w3-round-large">selten</div>
                  #elseif ($stringUtils.equals($material.rarity, "VeryRare"))
                    <div class="w3-tag w3-signal-orange w3-round-large">sehr selten</div>
                  #else
                    <div class="w3-tag w3-signal-white w3-round-large">unbestimmt</div>
                  #end
                  </td>
                  <td style="text-align:right">$material.stock</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>

        <!-- navlog card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="navlog" class="w3-container w3-padding-8">
            <h3><b>Letzte 50 FSA-Spr&uuml;nge</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Schiffsname (Typ)</th>
                  <th>Zielsystem<br>(Entfernung von Toluku)</th>
                  <th>Entfernung</th>
                  <th>Treibstoffverbrauch</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $navitem in $navLogList )
                <tr>
                  <td>$datetool.format($navitem.timestamp)</td>
                  <td><a target="_blank" href="$navitem.shipUrl">$navitem.shipname ($navitem.shiptype)</a></td>
                  <td>
                     #if ($navitem.systemUrl)<a target="_blank" href="$navitem.systemUrl">#end $navitem.systemname #if ($navitem.systemUrl)</a>#end<br>
                     ($numbertool.format($navitem.distanceToluku) ly)
                  </td>
                  <td style="text-align:right">$numbertool.format($navitem.distance) ly</td>
                  <td style="text-align:right">$numbertool.format($navitem.fuelused) t</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- last starports card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="lastports" class="w3-container w3-padding-8">
            <h3><b>25 zuletzt besuchte Raumh&auml;fen</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Raumhafen</th>
                  <th>Fraktion</th>
                  <th>Raumhafendaten</th>
                  <th>Entfernung von Toluku</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $starportLog in $starportLogList )
                <tr>
                  <td>$datetool.format($starportLog.timestamp)</td>
                  <td>#if ($starportLog.portUrl)<a target="_blank" href="$starportLog.portUrl">#end $starportLog.portname #if ($starportLog.portUrl)</a>#end</td>
                  <td>#if ($starportLog.factionUrl)<a target="_blank" href="$starportLog.factionUrl">#end $starportLog.factionName #if ($starportLog.factionUrl)</a>#end</td>
                  <td>
                    <ul>
                      #if ($starportLog.type) <li>$starportLog.type</li> #end
                      #if ($starportLog.systemUrl) <li><a target="_blank" href="starportLog.systemUrl">#end $starportLog.systemname #if ($starportLog.systemUrl)</a>#end</li>
                      #if ($starportLog.allegiance && $starportLog.allegiance != '') <li>$starportLog.allegiance</li> #end
                      #if ($starportLog.government && $starportLog.government != 'Leer') <li>$starportLog.government</li> #end
                      #if ($starportLog.economy && $starportLog.economy != 'Leer') <li>$starportLog.economy</li> #end
                      #if ($starportLog.starpos) <li>$starportLog.starpos</li> #end
                    </ul>
                  </td>
                  <td style="text-align:right">$numbertool.format($starportLog.distanceToluku) ly</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- top starsystems card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="mostvisitsystems" class="w3-container w3-padding-8">
            <h3><b>25 meistbesuchte Systeme</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Besuche</th>
                  <th>System</th>
                  <th>Fraktion</th>
                  <th>Systemdaten</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $starsystemLog in $starsystemLogList )
                <tr>
                  <td>$numbertool.format($starsystemLog.visits)</td>
                  <td>#if ($starsystemLog.systemUrl)<a target="_blank" href="$starsystemLog.systemUrl">#end $starsystemLog.systemname #if ($starsystemLog.systemUrl)</a>#end</td>
                  <td>#if ($starsystemLog.factionUrl)<a target="_blank" href="$starsystemLog.factionUrl">#end $starsystemLog.factionName #if ($starsystemLog.factionUrl)</a>#else leer #end</td>
                  <td>
                    <ul>
                      #if ($starsystemLog.allegiance && $starsystemLog.allegiance != '') <li>$starsystemLog.allegiance</li> #end
                      #if ($starsystemLog.security) <li>$starsystemLog.security</li> #end
                      #if ($starsystemLog.government && $starsystemLog.government != 'Leer') <li>$starsystemLog.government</li> #end
                      #if ($starsystemLog.economy && $starsystemLog.economy != 'Leer') <li>$starsystemLog.economy</li> #end
                      #if ($starsystemLog.starpos) <li>$starsystemLog.starpos</li> #end
                    </ul>
                  </td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>

        <!-- missions card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="missions" class="w3-container w3-padding-8">
            <h3><b>Letzte 25 Missionen</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Faction</th>
                  <th>Missionname</th>
                  <th>Ladung</th>
                  <th>Ziel</th>
                  <th>Status (Gewinn)</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $mission in $missionList )
                <tr>
                  <td>$mission.factionname</td>
                  <td>$mission.missionname</td>
                  <td>
                     #if ($mission.commodityCount > 0) $mission.commodityCount $mission.commodity <br>#end
                     #if ($mission.passengerCount > 0) $mission.passengerCount $mission.passengerType #end #if ($mission.passengerVip) VIP #end #if ($mission.passengerWanted) gesucht #end
                   </td>
                  <td>$mission.destinationPort<br>($mission.destination)</td>
                  <td>$mission.status #if ($mission.reward > 0)<br>($numbertool.format($mission.reward)) #end</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>

        <!-- journal card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="journal" class="w3-container w3-padding-8">
            <h3><b>Letzte 1000 Journallog-Eintr&auml;ge</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="journalFilterInput" class="filterInput" onkeyup="journalFilter()" placeholder="Filter Events.." title="Eventfilter">
            <table class="w3-table-all sortable" id="journalTable">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Event</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $journal in $journalList )
                <tr>
                  <td>$datetool.format($journal.timestamp)</td>
                  <td>$journal.event</td>
                  <td>$journal.message</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
      </div>
      
      <!-- summary card -->
      <div class="w3-col l4">
        <div class="w3-card-2 w3-margin w3-margin-top">
          <div align="center">
            <img src="EoT_V5-150px.png" style="width:150"><img src="EoTMinorFaction_V5-150px.png" style="width:150">
          </div>
          <div class="w3-container w3-white">
          <h4><b>Commander ShinFain</b></h4>
          <p class="w3-wide"><a href="http://inara.cz/wing/1462" target="_blank">Explorer on Tour</a></p>
          <p>Aktuelles Schiff: <a target="_blank" href="$currentShip.inaraUrl">$currentShip.callsign ($currentShip.type)</a></p>
          <p>Aktuelles Sternensystem: <a target="_blank" href="$currentSystem.inaraUrl">$currentSystem.name</a></p>
          <p>Aktueller Kontostand: $numbertool.format($currentCredits) cr</p>
        </div>
      </div><hr>
      
      <!-- fleet card -->
      <div class="w3-card-2 w3-margin">
        <div id="ships" class="w3-container w3-padding">
          <h4>Flotte</h4>
        </div>
          <table class="w3-table-all sortable">
            <thead>
              <tr>
                <th>Schiff</th>
                <th>Tachostand</th>
              </tr>
            </thead>
            <tbody>
              #foreach( $ship in $shipList )
              <tr>
                <td><a target="_blank" href="$ship.inaraUrl">$ship.callsign ($ship.type)</a></td>
                <td class="w3-right-align">$numbertool.format($ship.distance) ly</td>
              </tr>
              #end
            </tbody>
          </table><br>
       </div>
      <hr> 
    </div>
  </body>
</html>