<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
  <style>
     body,h1,h2,h3,h4,h5 {font-family: "Play", sans-serif}

     .filterInput {
       background-position: 10px 10px;
       background-repeat: no-repeat;
       width: 100%;
       font-size: 16px;
       padding: 12px 20px 12px 40px;
       border: 1px solid #ddd;
       margin-bottom: 12px;
     }
     
      ​.header
      {
          height:50px;
      }
      .content
      {
          position:absolute;
          top: 50px;
          left:0px;
          right:0px;
          bottom:0px;
          overflow-y:scroll;        
      }
     
      a:link {
          text-decoration: none;
          color: blue
      }
      
      a:visited {
          text-decoration: none;
          color: darkblue
      }
      
      a:hover {
          text-decoration: underline;
          color: lightblue
      }
      
      a:active {
          text-decoration: underline;
          color: lightblue
      }
  </style>
  
  <script> 
    function ringFilter() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("ringFilterInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("ringTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    
    function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }
  </script>
  
  <body class="w3-light-grey">
  
    <nav class="w3-sidenav w3-white w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
      <a href="javascript:void(0)" onclick="closeRightMenu()" class="w3-closenav w3-large">Close &times;</a>
      <a href="#top">Seitenanfang</a>
      <a href="#content">&Uuml;berblick</a>
      <a href="#materialSummary">Maximalvorkommen</a>
      <a href="#rings">Ringe</a>
      <a href="#materialOverview">Planeten mit Materialen</a>
      <a href="#stars">Sternenliste</a>
      <a href="#planets">Planetenliste</a>
    </nav>
    
    <header class="w3-container w3-teal w3-slim header">
      Stand: $datetool
      <span class="w3-opennav w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</span>
    </header>
  
    <div class="w3-content content" style="max-width:1400px">
      <div id="top" class="w3-col l8 s12">

        <!-- navlog card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="materialSummary" class="w3-container w3-padding-8">
            <h3><b>Maximalvorkommen Materialen</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>Material</th>
                  <th style="text-align:right">H&auml;ufigkeit</th>
                  <th>
                    Planet<br>
                    (Typ)
                  </th>
                  <th style="text-align:right">Gravitation</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $materialSummaryItem in $materialSummary )
                <tr>
                  <td><a target="_blank" href="$materialSummaryItem.materialUrl">$materialSummaryItem.material</a></td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.amount)%</td>
                  <td>
                     #if ($materialSummaryItem.starsystemUrl)<a target="_blank" href="$materialSummaryItem.starsystemUrl">#end $materialSummaryItem.planet #if ($materialSummaryItem.starsystemUrl)</a>#end<br>
                     ($materialSummaryItem.planetType)
                  </td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.gravity)g</td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.distanceToluku) ly</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- last starports card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="rings" class="w3-container w3-padding-8">
            <h3><b>Ringe</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="ringFilterInput" class="filterInput" onkeyup="ringFilter()" placeholder="Filter Ringtypen.." title="Ringtypfilter">
            <table id="ringTable" class="w3-table-all">
              <thead>
                <tr>
                  <th>Art</th>
                  <th>System</th>
                  <th>Ringname</th>
                  <th>Typ</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $ring in $ringList )
                <tr>
                  <td>$ring.art</td>
                  <td>#if ($ring.starsystemUrl)<a target="_blank" href="$ring.starsystemUrl">#end $ring.starsystemname #if ($ring.starsystemUrl)</a>#end</td>
                  <td>$ring.ringname</td>
                  <td>$ring.ringtype</td>
                  <td style="text-align:right">$numbertool.format($ring.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($ring.distanceToluku) ly</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- top starsystems card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="mostvisitsystems" class="w3-container w3-padding-8">
            <h3><b>25 meistbesuchte Systeme</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>Besuche</th>
                  <th>System</th>
                  <th>Fraktion</th>
                  <th>Systemdaten</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $starsystemLog in $starsystemLogList )
                <tr>
                  <td>$numbertool.format($starsystemLog.visits)</td>
                  <td>#if ($starsystemLog.systemUrl)<a target="_blank" href="$starsystemLog.systemUrl">#end $starsystemLog.systemname #if ($starsystemLog.systemUrl)</a>#end</td>
                  <td>#if ($starsystemLog.factionUrl)<a target="_blank" href="$starsystemLog.factionUrl">#end $starsystemLog.factionName #if ($starsystemLog.factionUrl)</a>#else leer #end</td>
                  <td>
                    <ul>
                      #if ($starsystemLog.allegiance && $starsystemLog.allegiance != '') <li>$starsystemLog.allegiance</li> #end
                      #if ($starsystemLog.security) <li>$starsystemLog.security</li> #end
                      #if ($starsystemLog.government && $starsystemLog.government != 'Leer') <li>$starsystemLog.government</li> #end
                      #if ($starsystemLog.economy && $starsystemLog.economy != 'Leer') <li>$starsystemLog.economy</li> #end
                      #if ($starsystemLog.starpos) <li>$starsystemLog.starpos</li> #end
                    </ul>
                  </td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>

        <!-- missions card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="missions" class="w3-container w3-padding-8">
            <h3><b>Letzte 25 Missionen</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all">
            <table class="w3-table-all">
              <thead>
                <tr>
                  <th>Faction</th>
                  <th>Missionname</th>
                  <th>Ladung</th>
                  <th>Ziel</th>
                  <th>Status (Gewinn)</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $mission in $missionList )
                <tr>
                  <td>$mission.factionname</td>
                  <td>$mission.missionname</td>
                  <td>
                     #if ($mission.commodityCount > 0) $mission.commodityCount $mission.commodity <br>#end
                     #if ($mission.passengerCount > 0) $mission.passengerCount $mission.passengerType #end #if ($mission.passengerVip) VIP #end #if ($mission.passengerWanted) gesucht #end
                   </td>
                  <td>$mission.destinationPort<br>($mission.destination)</td>
                  <td>$mission.status #if ($mission.reward > 0)<br>($numbertool.format($mission.reward)) #end</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>

        <!-- journal card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="journal" class="w3-container w3-padding-8">
            <h3><b>Letzte 1000 Journallog-Eintr&auml;ge</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="journalFilterInput" class="filterInput" onkeyup="journalFilter()" placeholder="Filter Events.." title="Eventfilter">
            <table class="w3-table-all" id="journalTable">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Event</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $journal in $journalList )
                <tr>
                  <td>$datetool.format($journal.timestamp)</td>
                  <td>$journal.event</td>
                  <td>$journal.message</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
      </div>
      
      <!-- summary card -->
      <div class="w3-col l4">
        <div class="w3-card-2 w3-margin w3-margin-top">
          <div id="content" align="center">
            <img src="EoT_V5-150px.png" style="width:150"><img src="EoTMinorFaction_V5-150px.png" style="width:150">
          </div>
          <div class="w3-container w3-white">
          <h4><b><a href="http://inara.cz/wing/1462" target="_blank">Explorer on Tour</a></b></h4>
          <p class="w3-wide">Materialen, Ringe und Planeten</p>
          <table class="w3-table w3-border">
            <tr>
              <td>Anzahl Sterne</td>
              <td style="text-align:right">$countStars</td>
            </tr>
            <tr>
              <td>Anzahl Planeten</td>
              <td style="text-align:right">$countPlanets</td>
            </tr>
            <tr>
              <td>Anzahl Planeten mit Materialien</td>
              <td style="text-align:right">$countByPlanet</td>
            </tr>
            <tr>
              <td>Anzahl Ringe</td>
              <td style="text-align:right">$countRings</td>
            </tr>
          </table><br>
        </div>
      </div><hr>
      
    </div>
  </body>
</html>