<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
  <style>
     body,h1,h2,h3,h4,h5 {font-family: "Play", sans-serif}

     .filterInput {
       background-position: 10px 10px;
       background-repeat: no-repeat;
       width: 100%;
       font-size: 16px;
       padding: 12px 20px 12px 40px;
       border: 1px solid #ddd;
       margin-bottom: 12px;
     }
     
      ​.header
      {
          height:50px;
      }
      .content
      {
          position:absolute;
          top: 50px;
          left:0px;
          right:0px;
          bottom:0px;
          overflow-y:scroll;        
      }
     
      a:link {
          text-decoration: none;
          color: blue
      }
      
      a:visited {
          text-decoration: none;
          color: darkblue
      }
      
      a:hover {
          text-decoration: underline;
          color: lightblue
      }
      
      a:active {
          text-decoration: underline;
          color: lightblue
      }
  </style>
  
  <script src="sorttable.js"></script>
  <script src="filtertable.js"></script>
  <script> 
    function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }
  </script>
  
  <body class="w3-light-grey">
  
    <nav class="w3-sidenav w3-white w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
      <a href="javascript:void(0)" onclick="closeRightMenu()" class="w3-closenav w3-large">Close &times;</a>
      <a href="#top">Seitenanfang</a>
      <a href="#content">&Uuml;berblick</a>
      <a href="#materialSummary">Maximalvorkommen</a>
      <a href="#rings">Ringe</a>
      <a href="#materialList">Materialliste</a>
      <a href="#stars">Sternenliste</a>
      <a href="#planets">Planetenliste</a>
    </nav>
    
    <header class="w3-container w3-teal w3-slim header">
      Stand: $datetool
      <span class="w3-opennav w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</span>
    </header>
  
    <div class="w3-content content" style="max-width:1400px">
    
    <div class="w3-row">
    
      <div id="top" class="w3-col l8 s12">

        <!-- material max card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="materialSummary" class="w3-container w3-padding-8">
            <h3><b>Maximalvorkommen Materialen</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Material</th>
                  <th style="text-align:right">H&auml;ufigkeit</th>
                  <th>
                    Planet<br>
                    (Typ)
                  </th>
                  <th style="text-align:right">Gravitation</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $materialSummaryItem in $materialSummary )
                <tr>
                  <td><a target="_blank" href="$materialSummaryItem.materialUrl">$materialSummaryItem.material</a></td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.amount)%</td>
                  <td>
                     #if ($materialSummaryItem.starsystemUrl)<a target="_blank" href="$materialSummaryItem.starsystemUrl">#end $materialSummaryItem.planet #if ($materialSummaryItem.starsystemUrl)</a>#end<br>
                     ($materialSummaryItem.planetType)
                  </td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.gravity)g</td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($materialSummaryItem.distanceToluku) ly</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- ring card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="rings" class="w3-container w3-padding-8">
            <h3><b>Ringe</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="ringFilterInput" class="filterInput" onkeyup="tableFilter('ringFilterInput', 'ringTable', 3)" placeholder="Filter Ringtypen.." title="Ringtypfilter">
            <table id="ringTable" class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Art</th>
                  <th>System</th>
                  <th>Ringname</th>
                  <th>Typ</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $ring in $ringList )
                <tr>
                  <td>$ring.art</td>
                  <td>#if ($ring.starsystemUrl)<a target="_blank" href="$ring.starsystemUrl">#end $ring.starsystemname #if ($ring.starsystemUrl)</a>#end</td>
                  <td>$ring.ringname</td>
                  <td>$ring.ringtype</td>
                  <td style="text-align:right">$numbertool.format($ring.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($ring.distanceToluku) ly</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
        <!-- materiallist card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="materialList" class="w3-container w3-padding-8">
            <h3><b>Materialliste</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="materialFilterInput" class="filterInput" onkeyup="tableFilter('materialFilterInput', 'materialTable', 1)" placeholder="Filter Materialien.." title="Materialfilter">
            <table id="materialTable" class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>
                    Planet<br>
                    (Typ)
                  </th>
                  <th>Material</th>
                  <th style="text-align:right">H&auml;ufigkeit</th>
                  <th style="text-align:right">Gravitation</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $materialItem in $materialList )
                <tr>
                  <td>
                     #if ($materialItem.starsystemUrl)<a target="_blank" href="$materialItem.starsystemUrl">#end $materialItem.planet #if ($materialItem.starsystemUrl)</a>#end<br>
                     ($materialItem.planetType)
                  </td>
                  <td><a target="_blank" href="$materialItem.materialUrl">$materialItem.material</a></td>
                  <td style="text-align:right">$numbertool.format($materialItem.amount)%</td>
                  <td style="text-align:right">$numbertool.format($materialItem.gravity)g</td>
                  <td style="text-align:right">$numbertool.format($materialItem.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($materialItem.distanceToluku) ly</td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
          
        <!-- star card -->
        <div class="w3-card-4 w3-margin w3-white">
          <div id="stars" class="w3-container w3-padding-8">
            <h3><b>Liste der analysierten Sterne</b></h3>
          </div>
          <div class="w3-container">
            <table class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Klasse</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                  <th>Eigenschaften</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $starItem in $starList )
                <tr>
                  <td>
                     #if ($starItem.starsystemUrl)<a target="_blank" href="$starItem.starsystemUrl">#end $starItem.starname #if ($starItem.starsystemUrl)</a>#end
                  </td>
                  <td>$starItem.type</a></td>
                  <td style="text-align:right">$numbertool.format($starItem.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($starItem.distanceToluku) ly</td>
                  <td>
                    <ul>
                      <li>Masse: $numbertool.format($starItem.stellarMass) Sols</li>
                      <li>Radius: $numbertool.format($starItem.radius) Sols</li>
                      <li>Alter: $numbertool.format($starItem.ageMY) Mio. Jahre</li>
                      #if ($starItem.surfaceTemperature > 0)
                        <li>Temperatur: $numbertool.format($starItem.surfaceTemperature)&deg;</li>
                      #end
                      #if ($starItem.absoluteMagnitude)
                        <li>Magnitude: $numbertool.format($starItem.absoluteMagnitude)</li>
                      #end
                      #if ($starItem.rotationPeriod > 0)
                          <li>Rotation: $numbertool.format($starItem.rotationPeriod) t</li>
                      #end
                    </ul>
                  </td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div>
        
   

      </div>
      
      <!-- summary card -->
      <div class="w3-col l4">
        <div class="w3-card-2 w3-margin w3-margin-top">
          <div id="content" align="center">
            <img src="EoT_V5-150px.png" style="width:150"><img src="EoTMinorFaction_V5-150px.png" style="width:150">
          </div>
          <div class="w3-container w3-white">
          <h4><b><a href="http://inara.cz/wing/1462" target="_blank">Explorer on Tour</a></b></h4>
          <p class="w3-wide">Materialen, Ringe und Planeten</p>
          <table class="w3-table w3-border">
            <tr>
              <td>Anzahl Sterne</td>
              <td style="text-align:right">$countStars</td>
            </tr>
            <tr>
              <td>Anzahl Planeten</td>
              <td style="text-align:right">$countPlanets</td>
            </tr>
            <tr>
              <td>Anzahl Planeten mit Materialien</td>
              <td style="text-align:right">$countByPlanet</td>
            </tr>
            <tr>
              <td>Anzahl Ringe</td>
              <td style="text-align:right">$countRings</td>
            </tr>
          </table><br>
        </div>
      </div><hr>
    </div>
    </div>
    
    <div class="w3-row">
      <div class="w3-rest">
        <!-- planet card -->
        <div class="w3-card-4 w3-margin w3-white w3-rest">
          <div id="planets" class="w3-container w3-padding-large">
            <h3><b>Liste der analysierten Planeten</b></h3>
          </div>
          <div class="w3-container">
            <input type="text" id="planetFilterInput" class="filterInput" onkeyup="tableFilter('planetFilterInput', 'planetTable', 3)" placeholder="Filter Vulkanismus.." title="Vulkanismusfilter">
            <table id="planetTable" class="w3-table-all sortable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Typ</th>
                  <th style="text-align:right">Gravitation</th>
                  <th>Vulkanismus</th>
                  <th style="text-align:right">Entfernung Hauptstern</th>
                  <th style="text-align:right">Entfernung Toluku</th>
                  <th>Eigenschaften</th>
                </tr>
              </thead>
              <tbody>
                #foreach( $planetItem in $planetList )
                <tr>
                  <td>
                     #if ($planetItem.starsystemUrl)<a target="_blank" href="$planetItem.starsystemUrl">#end $planetItem.planetname #if ($planetItem.starsystemUrl)</a>#end
                  </td>
                  #if ($planetItem.landable)
                  <td style="color:green;">
                  #else
                  <td style="color:red;">
                  #end
                    $planetItem.type
                  </td>
                  <td style="text-align:right">#if ($planetItem.surfaceGravity) $numbertool.format($planetItem.surfaceGravity)g #end</td>
                  <td>$planetItem.volcanism</a></td>
                  <td style="text-align:right">$numbertool.format($planetItem.distanceInSystem) ls</td>
                  <td style="text-align:right">$numbertool.format($planetItem.distanceToluku) ly</td>
                  <td>
                    <ul>
                      #if ($planetItem.massEM)
                          <li>Masse: $numbertool.format($planetItem.massEM) Terras</li>
                      #end
                      #if ($planetItem.radius)
                          <li>Radius: $numbertool.format($planetItem.radius)</li>
                      #end
                      #if ($planetItem.surfaceTemperature)
                          <li>Temperatur: $numbertool.format($planetItem.surfaceTemperature)</li>
                      #end
                      #if ($planetItem.surfacePressure)
                          <li>Druck: $numbertool.format($planetItem.surfacePressure)</li>
                      #end
                      #if ($planetItem.orbitalPeriod)
                        <li>Umlaufzeit: $numbertool.format($planetItem.orbitalPeriod)</li>
                      #end
                      #if ($planetItem.rotationPeriod)
                        <li>Rotationszeit: $numbertool.format($planetItem.rotationPeriod)</li>
                      #end
                      #if ($stringUtils.isNotBlank($planetItem.atmosphere))
                        <li>Atmoshp&auml;re: $planetItem.atmosphere</li>
                      #end
                    </ul>
                  </td>
                </tr>
                #end
              </tbody>
            </table><br>
          </div>
        </div> 
      </div>
    </div>
  </body>
</html>